{% extends 'core/base.html' %}

{% block contenido %}

<h2>Listado De mascotas</h2>
<table border="style1">
    <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Genero</th>
        <th>Fecha Ingreso</th>
        <th>Fecha Nacimiento</th>
        <th>Estado</th>
        <th>Imagen</th>
        <th>Opciones</th>
    </tr>
    {% for a in mascotas %}
    
    <tr>
        <td>{{a.nombre}}</td>
        <td>{{a.raza}}</td>
        <td>{{a.genero}}</td>
        <td>{{a.fechaIngreso}}</td>
        <td>{{a.fechaNacimiento}}</td>
        <td>{{a.estado}}</td>
        <td> 
        {% if a.imagen %}
        <img  src="{{a.imagen.url}}" width="200" height="140">
        {% endif %}
        </td>
        <td>
            <a href="{% url 'eliminar_mascota' a.id %}">Eliminar</a>
            <a href="{% url 'modificar_mascota' a.id %}">Modificar</a>
        </td>
    </tr>

    {% endfor %}
</table>

{% if messages %}

  {% for m in messages %}

  <div>{{ m }}</div>

  {% endfor %}

{% endif %}

{% endblock contenido %}